
L2/ActivityClass/.idea
L2/ActivityClass/*.iml
L2/ActivityClass/.gradle
L2/ActivityClass/local.properties
L2/ActivityClass/.idea/workspace.xml
L2/ActivityClass/.idea/libraries
L2/ActivityClass/.DS_Store
L2/ActivityClass/app/build
L2/ActivityClass/build
L2/ActivityClass/captures

L4/UserInterface/.idea
L4/UserInterface/*.iml
L4/UserInterface/.gradle
L4/UserInterface/local.properties
L4/UserInterface/.idea/workspace.xml
L4/UserInterface/.idea/libraries
L4/UserInterface/.DS_Store
L4/UserInterface/app/build
L4/UserInterface/build
L4/UserInterface/captures

*.zip
*.pdf
*.txt
