
L2/ActivityClass/.idea
L2/ActivityClass/*.iml
L2/ActivityClass/.gradle
L2/ActivityClass/local.properties
L2/ActivityClass/.idea/workspace.xml
L2/ActivityClass/.idea/libraries
L2/ActivityClass/.DS_Store
L2/ActivityClass/app/build
L2/ActivityClass/build
L2/ActivityClass/captures

L4/UserInterface/.idea
L4/UserInterface/*.iml
L4/UserInterface/.gradle
L4/UserInterface/local.properties
L4/UserInterface/.idea/workspace.xml
L4/UserInterface/.idea/libraries
L4/UserInterface/.DS_Store
L4/UserInterface/app/build
L4/UserInterface/build
L4/UserInterface/captures

L4b/ModernArt/.idea
L4b/ModernArt/*.iml
L4b/ModernArt/.gradle
L4b/ModernArt/local.properties
L4b/ModernArt/.idea/workspace.xml
L4b/ModernArt/.idea/libraries
L4b/ModernArt/.DS_Store
L4b/ModernArt/app/build
L4b/ModernArt/build
L4b/ModernArt/captures


*.zip
*.pdf
*.txt
*.mov
